/////////////////////////////////////////////////
// デバイスサイズ
/////////////////////////////////////////////////
$device_sp: 768px;  // スマホ
$device_tb: 992px;  // タブレット
$device_pc: 1200px; // PC

////////////////////////////////////////////////
// Font
////////////////////////////////////////////////
$font-regular: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// Weight
$light: 300;
$medium: 400;
$bold: 700;

////////////////////////////////////////////////
// Color
////////////////////////////////////////////////
